*.iml
.gradle/
.idea/
.kotlin/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
keystore/
*.jks
*.keystore
*.apk
*.ap_
*.aab
*.dex
*.class
.navigation/
/captures
output-metadata.json
